{
  "presets": [
    [ "env", {
      "targets": {
        "browsers": "last 1 Firefox versions"
      }
    }],
    "stage-1"
  ],
  "plugins": [[
    "module-resolver", {
      "root": ["./src"]
    }
  ], [
    "transform-private", {
      "pattern": "^_"
    }
  ], "transform-flow-strip-types"]
}