{
  "presets": [
    [ "env", {
      "targets": {
        "browsers": "last 1 Firefox versions"
      }
    }],
    "stage-1"
  ],
  "plugins": [[
    "module-resolver", {
      "root": ["./src"]
    }
  ], "transform-flow-strip-types"],
  "env": {
    "production": {
      "plugins": [[
        "transform-private", {
          "pattern": "^_"
        }
      ]]
    }
  }
}