{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}